{% extends "layout.html" %}

{% block body %}



<div class="page-header">
    <h1 class="text-center" style="font-size:200%; background-color:red; font-family:helvetica;">
        <bold> Select your eatery of choice. </bold>
    </h1>
</div>


<div class="container-fluid">
    <div class="panel-group">
        <div class="=panel panel-default">
            <div class="panel-heading">
                <h2 class="text-center"> Miller Cafe </h2>
            </div>
            <div class="panel-body">
                <p class="text-center"> Description of the eatery and maybe some images. </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}