{% extends "layout.html" %}
{% block body %}
<div class="container">
	<div class="login-form">
		<div class="main-div">
			<div class="panel">
				<h2>Login</h2>
				<p>Please enter your email and password</p>
			</div>
			<!-- FORM -->
			<form action="" method="POST" novalidate>
				<!-- CSRF PROTECTION -->
				{{ form.hidden_tag() }}
				<p>
					{{ form.email.label }}
					{{ form.email(size=255, class_="form-control") }}

				</p>
				<p>
					{{ form.password.label }}
					{{ form.password(size=255, class_="form-control") }}

				</p>
				<div class="forgot">
					<a href="reset">Forgot password?</a>
				</div>
				{{ form.submit() }}
			</form>
		</div>
	</div>
</div>
{% endblock %}